# OS
.DS_Store
Thumbs.db

# Editores
.vscode/*
!.vscode/extensions.json
.idea/

# Node (por si en el futuro se agrega tooling de build)
node_modules/
npm-debug.log*
yarn-error.log*

# Entornos / secretos
.env
.env.*

# Builds
dist/
build/
.cache/

hide_docs/
